<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
</head>
<body style="margin: 0; padding: 0;">
<p style="padding: 8px 12px; margin: 3px 0; font-size: 14px; color: #000; line-height: 24px; font-family: arial;">Welcome to mlf</p>
<p style="padding: 8px 12px; margin: 3px 0; font-size: 14px; color: #000; line-height: 24px; font-family: arial;">To verify your email please click on this link or copy and paste this URL into your browser:</p>
<p style="padding:0px 12px 8px; margin: 3px 0; font-size: 14px; color: #000; line-height: 24px; font-family: arial;"><a href="{{password_reset_link}}" target="_blank">(verify-email-link) {{password_reset_link}} </a></p>
<p style="padding: 8px 12px; margin: 3px 0; font-size: 14px; color: #000; line-height: 24px; font-family: arial;">This link takes you to a secure page where you can verify your email.</p>
<p style="padding: 8px 12px; margin: 3px 0; font-size: 14px; color: #000; line-height: 24px; font-family: arial;">If you don't want to verify your email, please ignore this message</p>
</body>
</html>