<div class="auth-page">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-xxl-12 col-lg-12 col-md-12">
        <div class="auth-full-page-content d-flex p-sm-5 p-4 card">
          <div class="w-100">
            <div class="d-flex flex-column h-100">
              <div class="auth-content my-auto">
                <div class="text-center">
                  <h5 class="mb-0">Forgot Password !</h5>
                </div>
                <form class="mt-4 pt-2" [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid && forgotPassword()"
                  novalidate>
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" formControlName="email" placeholder="Email"
                      required="">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                  </div>
                  <div *ngIf="forgotForm.get('email')!.errors && submitted">
                    <span *ngIf="forgotForm.get('email')!.errors!['required'] && submitted" class="text-danger">
                      Email is Required!</span>
                  </div>
                  <div class="mb-3">
                    <div class="d-flex align-items-start">
                      <div class="flex-grow-1">
                          <label class="form-label">&nbsp;</label>
                      </div>
                      <div class="flex-shrink-0">
                          <div >
                              <a [routerLink]="['/']"  class="text-muted">Return to Login?</a>
                          </div>
                      </div>
                  </div>
                    <button class="btn btn-primary w-100 waves-effect waves-light" type="submit"
                      (click)="submitted=true;">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>