<div class="auth-page">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-xxl-12 col-lg-12 col-md-12">
                <div class="auth-full-page-content d-flex p-sm-5 p-4 card">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100">
                            <div class="auth-content my-auto">
                                <div class="text-center">
                                    <h5 class="mb-0">Reset Password !</h5>
                                </div>
                                <form class="mt-4 pt-2" [formGroup]="resetForm"
                                    (ngSubmit)="resetForm.valid && resetPassword()" novalidate>
                                    <div class="mb-3">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" name="password"
                                                formControlName="password" placeholder="Password" required=""
                                                aria-label="Password" aria-describedby="password-addon">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div *ngIf="resetForm.get('password')!.errors && submitted" class="mt-1">
                                            <span *ngIf="resetForm.get('password')!.errors!['required'] && submitted"
                                                class="text-danger">Password is
                                                Required!</span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" name="cpassword"
                                                formControlName="cpassword" placeholder="Confirm Password" required=""
                                                aria-label="Password" aria-describedby="password-addon">
                                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                        </div>
                                        <div *ngIf="resetForm.get('cpassword')!.errors && submitted" class="mt-1">
                                            <span *ngIf="resetForm.get('cpassword')!.errors!['required'] && submitted"
                                                class="text-danger">Confirm
                                                Password is Required!</span>
                                        </div>
                                        <span
                                            *ngIf="resetForm.get('cpassword')!.value && resetForm.errors?.['mismatch'] && submitted"
                                            class="mt-1" class="text-danger">New Password and Confirm Password must be
                                            same!
                                        </span>
                                    </div>
                                    <div class="mb-3">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit"
                                            (click)="submitted=true;">Submit</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>