<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Meetings</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table datatable [dtOptions]="dtOptions" style="width: 100%;"
                            class="table table-bordered dataTable">
                        </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
